Repository lgallard/terraform-aws-ecrpublic: changes, and which pre-commit hooks are due for each by the changed paths.
All: ecr-public-catalog-validation, ecr-public-region-check, ecr-public-examples-check

Path conditions:
  ecr-public-catalog-validation: any of: ^variables\.tf$
  ecr-public-region-check: any of: \.(tf|tfvars)$
  ecr-public-examples-check: any of: ^examples/.*\.tf$

feat: add pre-commit workflow for code quality automation
  .github/workflows/pre-commit.yml
Due: none

fix: handle terraform-docs in CI environment
  .github/workflows/pre-commit.yml
Due: none

fix: add validation rules and fix security workflow issues
  .github/workflows/security.yml
  variables.tf
Due: ecr-public-catalog-validation, ecr-public-region-check

fix: add null-safety to catalog_data_architectures validation
  variables.tf
Due: ecr-public-catalog-validation, ecr-public-region-check

fix: accept skipped status as valid in validation summary
  .github/workflows/validate.yml
Due: none

fix: add validation rules and fix security workflow issues (#37)
  .github/workflows/security.yml
  .github/workflows/validate.yml
  variables.tf
Due: ecr-public-catalog-validation, ecr-public-region-check

feat: add comprehensive input validation for variables (#31)
  variables.tf
Due: ecr-public-catalog-validation, ecr-public-region-check

chore: sync Claude workflows with latest version
  .github/workflows/claude-code-review.yml
Due: none

chore: sync Claude workflows with latest version (#39)
  .github/workflows/claude-code-review.yml
Due: none

feat: improve security and policy best practices (#47)
  CLAUDE.md
  main.tf
  variables.tf
Due: ecr-public-catalog-validation, ecr-public-region-check

fix: update Go version to 1.23 and configure Renovate to prevent pre-release versions
  .github/workflows/test.yml
  renovate.json
Due: none

fix: update Go version to 1.23 and configure Renovate to prevent pre-release versions (#49)
  .github/workflows/test.yml
  renovate.json
Due: none

feat: Add automated ECR Public feature discovery
  .github/feature-tracker/ecrpublic-features.json
  .github/workflows/feature-discovery.yml
Due: none

docs: add comprehensive feature analysis for ECR Public module
  FEATURE_ANALYSIS.md
Due: none

docs: add issue templates for identified feature gaps
  .github/ISSUES/001-repository-policy-support.md
  .github/ISSUES/002-repository-policy-example.md
  .github/ISSUES/003-authorization-token-documentation.md
  .github/ISSUES/004-enhanced-outputs.md
  .github/ISSUES/005-multiple-repository-support.md
Due: none

style: fix terraform fmt alignment in validation blocks
  README.md
  variables.tf
Due: ecr-public-catalog-validation, ecr-public-region-check

refactor: simplify lifecycle precondition for repository policy
  main.tf
Due: ecr-public-region-check

feat: Add aws_ecrpublic_repository_policy resource support (#56)
  README.md
  main.tf
  outputs.tf
  variables.tf
Due: ecr-public-catalog-validation, ecr-public-region-check

fix: use try() for null-safe validation conditions
  variables.tf
Due: ecr-public-catalog-validation, ecr-public-region-check

fix: add trailing newlines to example files
  examples/with_repository_policy/README.md
  examples/with_repository_policy/main.tf
  examples/with_repository_policy/outputs.tf
  examples/with_repository_policy/provider.tf
  examples/with_repository_policy/variables.tf
Due: ecr-public-region-check, ecr-public-examples-check

docs: Add example with repository policy configuration (#58)
  examples/with_repository_policy/README.md
  examples/with_repository_policy/main.tf
  examples/with_repository_policy/outputs.tf
  examples/with_repository_policy/provider.tf
  examples/with_repository_policy/variables.tf
  test/terraform_basic_test.go
  test/terraform_repository_policy_test.go
  variables.tf
Due: ecr-public-catalog-validation, ecr-public-region-check, ecr-public-examples-check

fix: remove trailing whitespace and add missing newlines
  CLAUDE.md
  test/terraform_repository_policy_test.go
Due: none

fix: correct pre-commit formatting issues
  CLAUDE.md
  test/terraform_repository_policy_test.go
Due: none

fix: correct pre-commit formatting issues (#59)
  CLAUDE.md
  test/terraform_repository_policy_test.go
Due: none

fix: correct pre-commit formatting issues in with_auth_token example
  examples/with_auth_token/README.md
  examples/with_auth_token/main.tf
  examples/with_auth_token/outputs.tf
  examples/with_auth_token/variables.tf
Due: ecr-public-region-check, ecr-public-examples-check

docs: Add authorization token usage example and documentation (#60)
  README.md
  examples/with_auth_token/README.md
  examples/with_auth_token/main.tf
  examples/with_auth_token/outputs.tf
  examples/with_auth_token/variables.tf
Due: ecr-public-region-check, ecr-public-examples-check

fix: correct pre-commit formatting issues in multiple_repositories example
  README.md
  examples/multiple_repositories/README.md
  examples/multiple_repositories/main.tf
  examples/multiple_repositories/outputs.tf
  examples/multiple_repositories/provider.tf
  examples/multiple_repositories/variables.tf
Due: ecr-public-region-check, ecr-public-examples-check

feat: Add multiple repositories support via module-level for_each pattern (#61)
  README.md
  examples/multiple_repositories/README.md
  examples/multiple_repositories/main.tf
  examples/multiple_repositories/outputs.tf
  examples/multiple_repositories/provider.tf
  examples/multiple_repositories/variables.tf
Due: ecr-public-region-check, ecr-public-examples-check

fix: correct pre-commit formatting issues in outputs.tf
  README.md
  outputs.tf
Due: ecr-public-region-check

feat: Add enhanced outputs (tags_all, gallery_url, catalog_data) (#63)
  README.md
  examples/multiple_repositories/outputs.tf
  examples/using_variables/outputs.tf
  outputs.tf
Due: ecr-public-region-check, ecr-public-examples-check

fix: update example READMEs with terraform-docs
  examples/multiple_repositories/README.md
  examples/using_variables/README.md
Due: none

fix: update terraform-docs to v0.20.0 in CI workflow
  .github/workflows/pre-commit.yml
Due: none

chore: add descriptive comment to versions.tf
  versions.tf
Due: ecr-public-region-check

fix: standardize terraform-docs configuration and markers
  .pre-commit-config.yaml
  README.md
  examples/multiple_repositories/README.md
  examples/using_objects/README.md
  examples/using_variables/README.md
  examples/with_auth_token/README.md
  examples/with_repository_policy/README.md
Due: none

fix: revert to standard pre-commit terraform-docs markers
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  README.md
  examples/multiple_repositories/README.md
  examples/using_objects/README.md
  examples/using_variables/README.md
  examples/with_auth_token/README.md
  examples/with_repository_policy/README.md
Due: none

fix: add debugging and update cache key in pre-commit workflow
  .github/workflows/pre-commit.yml
Due: none

fix: clean up duplicate documentation markers in README.md
  README.md
Due: none

fix: simplify CI by skipping terraform_docs in favor of local pre-commit
  .github/workflows/pre-commit.yml
Due: none
